__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/
.venv/
.env
*.log

storage/encrypted/*
storage/decrypted/*
storage/temp/*
storage/keys/*

!storage/encrypted/.gitkeep
!storage/decrypted/.gitkeep
!storage/temp/.gitkeep
!storage/keys/.gitkeep